USE [master]
GO
/****** Object:  Database [QLThuVien]    Script Date: 05/28/2019 20:39:58 ******/
CREATE DATABASE [QLThuVien] ON  PRIMARY 
( NAME = N'QLThuVien', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLThuVien.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLThuVien_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLThuVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuVien]
GO
/****** Object:  Table [dbo].[VITRI]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRI](
	[id] [int] NOT NULL,
	[pos] [nvarchar](50) NULL,
 CONSTRAINT [PK_VITRI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VITRI] ([id], [pos]) VALUES (0, N'Ban gián đốc')
INSERT [dbo].[VITRI] ([id], [pos]) VALUES (1, N'Thủ thư')
INSERT [dbo].[VITRI] ([id], [pos]) VALUES (2, N'Thủ kho')
/****** Object:  Table [dbo].[SACH]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [varchar](10) NOT NULL,
	[TENSACH] [varchar](100) NULL,
	[TACGIA] [varchar](100) NULL,
	[NSX] [varchar](100) NULL,
	[NXB] [int] NULL,
	[NGAYNHAP] [date] NULL,
	[GIA] [float] NULL,
	[NVTIEPNHAN] [varchar](10) NULL,
	[LOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NSX], [NXB], [NGAYNHAP], [GIA], [NVTIEPNHAN], [LOAI]) VALUES (N'1', N'KinhVanHoa', N'NguyenNhatAnh', N'KimDong', 1990, CAST(0xC4150B00 AS Date), 120, N'1', 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NSX], [NXB], [NGAYNHAP], [GIA], [NVTIEPNHAN], [LOAI]) VALUES (N'2', N'Edogawa Conan', N'Aotama Gosho', N'Kim Dong', 1993, CAST(0xC4150B00 AS Date), 150, N'1', 3)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NSX], [NXB], [NGAYNHAP], [GIA], [NVTIEPNHAN], [LOAI]) VALUES (N'3', N'De men phieu luu ki', N'Nguyen Nhat Anh', N'Kim Dong', 1995, CAST(0xC4150B00 AS Date), 157, N'1', 0)

/****** Object:  Table [dbo].[BANQUANLI]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANQUANLI](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[DOB] [date] NULL,
	[CMND] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[NGAYLAPTHE] [date] NULL,
	[NVLAPTHE] [varchar](10) NULL,
	[BANGCAP] [nvarchar](50) NULL,
	[CHUCVU] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](20) NULL,
 CONSTRAINT [PK_BANQUANLI] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANQUANLI] ([MANV], [HOTEN], [DIACHI], [SDT], [DOB], [CMND], [EMAIL], [NGAYLAPTHE], [NVLAPTHE], [BANGCAP], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'A001', N'Bao', N'190/19', N'0789578259', CAST(0x05220B00 AS Date), N'0789578259', N'bao@gmail.com', CAST(0xAC3F0B00 AS Date), N'1', N'TienSi', 0, N'leonthaibao', N'leonthaibao')
INSERT [dbo].[BANQUANLI] ([MANV], [HOTEN], [DIACHI], [SDT], [DOB], [CMND], [EMAIL], [NGAYLAPTHE], [NVLAPTHE], [BANGCAP], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'A002', N'Lake', N'Đồng Nai, quận 10', N'0123456789', CAST(0x0F220B00 AS Date), N'294478733', N'lake@gmail.com', CAST(0xAD3F0B00 AS Date), N'1', N'Đại Học', 0, N'hoquandai', N'hoquandai')
INSERT [dbo].[BANQUANLI] ([MANV], [HOTEN], [DIACHI], [SDT], [DOB], [CMND], [EMAIL], [NGAYLAPTHE], [NVLAPTHE], [BANGCAP], [CHUCVU], [USERNAME], [PASSWORD]) VALUES (N'A003', N'lake', N'HCM', N'221421412', CAST(0x07220B00 AS Date), N'3534645757', N'lake@gmail.com', CAST(0xAF3F0B00 AS Date), N'', N'Thac si', 1, N'lake', N'3534645757')
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[DOB] [date] NULL,
	[CMND] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[NGAYLAPTHE] [date] NULL,
	[NVLAPTHE] [varchar](10) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](20) NULL,
 CONSTRAINT [PK__DOCGIA__8CA726FC07020F21] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DOCGIA] ([MADOCGIA], [HOTEN], [DIACHI], [SDT], [DOB], [CMND], [EMAIL], [NGAYLAPTHE], [NVLAPTHE], [username], [password]) VALUES (N'R001', N'Hồ Đại', N'Q.10 tpHCM', N'034455213', CAST(0xA9210B00 AS Date), N'1242363464', N'hodai@gmail.com', CAST(0xAE3F0B00 AS Date), N'A002', N'hodai', N'hodai')
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUTRA] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NULL,
	[MASACH] [varchar](10) NULL,
	[NGAYTRA] [date] NULL,
	[TIENPHAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[MAPHIEUTHU] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NULL,
	[MASACH] [varchar](10) NULL,
	[NGAYTHU] [date] NULL,
	[TIENPHAT] [float] NULL,
	[NVTHUTIEN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NULL,
	[MASACH] [varchar](10) NULL,
	[NGAYMUON] [date] NULL,
	[HANTRA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMAT]    Script Date: 05/28/2019 20:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMAT](
	[MAPHIEUMAT] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NULL,
	[MASACH] [varchar](10) NULL,
	[NGAYGHINHAN] [date] NULL,
	[TIENPHAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DOCGIA_BANQUANLI]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_BANQUANLI] FOREIGN KEY([NVLAPTHE])
REFERENCES [dbo].[BANQUANLI] ([MANV])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_BANQUANLI]
GO
/****** Object:  ForeignKey [FK_PHIEUTRA_MADOCGIA]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_MADOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_MADOCGIA]
GO
/****** Object:  ForeignKey [FK_PHIEUTRA_MASACH]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_MASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_MASACH]
GO
/****** Object:  ForeignKey [FK_PHIEUTHU_MADOCGIA]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_MADOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_MADOCGIA]
GO
/****** Object:  ForeignKey [FK_PHIEUTHU_MASACH]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_MASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_MASACH]
GO
/****** Object:  ForeignKey [FK_PHIEUMUON_MADOCGIA]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_MADOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_MADOCGIA]
GO
/****** Object:  ForeignKey [FK_PHIEUMUON_MASACH]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_MASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_MASACH]
GO
/****** Object:  ForeignKey [FK_PHIEUMAT_MADOCGIA]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUMAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMAT_MADOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMAT] CHECK CONSTRAINT [FK_PHIEUMAT_MADOCGIA]
GO
/****** Object:  ForeignKey [FK_PHIEUMAT_MASACH]    Script Date: 05/28/2019 20:39:58 ******/
ALTER TABLE [dbo].[PHIEUMAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMAT_MASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[PHIEUMAT] CHECK CONSTRAINT [FK_PHIEUMAT_MASACH]
GO
